.userDashboardBody {
    height: 100vh !important;
}

.rectangle {
    width: 600px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.displayDetails
{
    width: 500px;
    height: 90px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

