.searchFlightsBody {
    height: 100vh !important;
    /* max-width: auto; */
    overflow-x: hidden;
    
}


.searchContainer {
    width: auto;
    height: auto;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}


